body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
}

section {
    margin: 20px auto;
    padding: 15px;
    background: white;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#forecast-container {
    display: flex;
    justify-content: space-between;
}

.forecast-card {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 18%;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

#history-container button {
    display: block;
    margin: 5px auto;
    width: 80%;
}